

<div class="row">

    <div class="jumbotron">

        <h1>Curso</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>

        <a class="btn btn-success" href="/Cursos/Index">Cursos</a>
        <br />
    </div>

    <div class="jumbotron">

        <h1>Disciplina</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>

        <a class="btn btn-success" href="/Disciplinas/Index">Disciplinas</a>

    </div>

    <div class="jumbotron">

        <h1>DashBoard</h1>
        <p class="lead">Para entrar, basta clicar no botão.</p>

        <a class="btn btn-success" href="/CursoDisciplina/Index">DashBoard</a>

    </div>

    <a class="btn btn-danger" href="/Home/Index">Voltar</a>
</div>   


    







