@model MineCursos.Models.Cursos

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<div>



    <form action="/Cursos/ConfirmeDelete?id=@Model.CURSOID" method="post">
        <div>
            <class ="form-group">
                <label>Descricao</label>
                <label>@Model.CURSODESCRICAO</label>
        </div>
        <div>
            <class ="form-group">
                <label>Habilidade</label>
                <label>@Model.CURSOCODHABILIDADE</label>
        </div>

        <div>
            <class ="form-group">
                <label>Modalidade</label>
                <label>@Model.CURSOMODALIDADE</label>
        </div>

        <a href="/Cursos/index" class="btn btn-info">Voltar</a>
        <button class="btn btn-danger" type="submit">Deletar</button>

    </form>
</div>